---
import Head from '../components/Head.astro';
import LayoutLight from '../layouts/LayoutLight.astro';
import SmallHero from '../components/SmallHero.astro';

const title = 'Home';
const subtitle = "jek.sn";

const links = [
	{ name: 'Blog', url: '/blog' },
	{ name: 'Projects', url: '/projects' },
	{ name: 'Uses', url: '/uses' },
	{ name: 'Reading List', url: '/reading-list' },
	{ name: 'CV', url: '/cv' }
];

const ext_links = [
	{ name: 'LinkedIn', url: 'https://www.linkedin.com/in/jeksn/' },
	{ name: 'GitHub', url: 'https://github.com/jeksn' },
	{ name: 'Codeberg', url: 'https://codeberg.org/jeksn' }
];
---

<Head title={subtitle} />
<LayoutLight>
	<div class="pt-20 px-4 mb-4 bg-zinc-900">
		<div class="max-w-screen-lg text-left space-y-4 mx-auto">
			<h1 class="py-2 text-3xl md:text-5xl text-orange-100 font-departure"><span class="text-orange-100/30 font-departure animate-pulse">https://</span>jek.sn<span class="text-orange-100/30 font-departure animate-pulse">/</span></h1>
			<p class="text-xl text-orange-100/70 font-departure md:w-3/4 w-full">I still believe in the value of the personal website* and this is my ever changing part of the web.</p>
		</div>
	</div>
	<section class="pt-12 pb-16 px-4">
		<div class="mt-6 max-w-screen-lg mx-auto">
			<div class="grid grid-cols-1 md:grid-cols-5 gap-8">
				<!-- Left sidebar with static content -->
				<div class="md:col-span-1">
					<div class="sticky top-8 space-y-8">
						<div>
							<p class="text-sm text-[#939393] font-departure">
								<h3 class="text-orange-100 font-departure">I'm glad you made it here.</h3>
								<br>
								<p class="text-sm text-orange-100/70 font-departure">Don't be a stranger, say hi!</p>
								<button
									aria-label="Copy email address"
									x-data="{ copied: false }"
									@click="navigator.clipboard.writeText('hello@jek.sn'); copied = true; setTimeout(() => copied = false, 2000)"
									class="mt-4 text-sm flex gap-x-1">
									<span x-show="!copied">Get in touch</span>
									<span x-show="copied">Email copied!</span>
									<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-right-icon lucide-arrow-up-right" x-show="!copied"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" x-show="copied"><path d="M20 6 9 17l-5-5"/></svg>
								</button>
							</p>
						</div>
					</div>
				</div>

				<!-- Right content area with links -->
				<div class="md:col-span-4">
					<div class="space-y-8">
						<div>
							<ul class="space-y-4">
								{links.map((link) => (
									<li class="grid grid-cols-1 text-sm gap-2">
										<div class="space-y-1">
											<a href={link.url} class="text-orange-100 font-departure hover:underline flex gap-1">
												<span>{link.name}</span>
												<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-right-icon lucide-arrow-up-right"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg>
											</a>
										</div>
									</li>
								))}
							</ul>
						</div>
						<div>
							<h3 class="text-orange-100 font-departure mb-4">Find me here:</h3>
							<ul class="space-y-4">
								{ext_links.map((link) => (
									<li class="grid grid-cols-1 text-sm gap-2">
										<div class="space-y-1">
											<a href={link.url} class="text-orange-100 font-departure hover:underline flex gap-1">
												<span>{link.name}</span>
												<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-right-icon lucide-arrow-up-right"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg>
											</a>
										</div>
									</li>
								))}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</LayoutLight>
