---
import Head from '../components/Head.astro';
import LayoutLight from '../layouts/LayoutLight.astro';
import Hero from '../components/Hero.astro';

const title = 'Projects';
const subtitle = "A collection of some of my side projects and personal experiments.";

const projects = [
	{
		name: "Hat Stack",
		description: "A simple starter template based on Alpine.js, Tailwind CSS v4.0 and Handlebars.",
		url: "https://github.com/jeksn/HatStack"
	},
	{
		name: "Alpinist",
		description: "A collection of Alpine.js components.",
		url: "https://alpinist.jeksn.me"
	},
	{
		name: "Weeek",
		description: "Small site that displays the week number.",
		url: "https://week.jeksn.me"
	}
];
---

<Head title={title} />
<LayoutLight>
	<Hero title={title} subtitle={subtitle} />
	<section class="pt-12 pb-16 px-4">
		<div class="mt-6 max-w-screen-lg mx-auto">
			<div class="grid grid-cols-1 md:grid-cols-5 gap-8">
				<!-- Left sidebar with static content -->
				<div class="md:col-span-1">
					<div class="sticky top-8 space-y-8">
						<div>
							<h3 class="text-lg font-medium text-white mb-4">Projects</h3>
							<p class="text-sm text-[#939393]">Personal projects and experiments I've worked on in my spare time.</p>
						</div>
					</div>
				</div>

				<!-- Right content area with projects -->
				<div class="md:col-span-4">
					<div class="space-y-8">
						<div>
							<!-- <h2 class="text-2xl font-medium text-white mb-6">Projects</h2> -->
							<ul class="space-y-4">
								{projects.map((project) => (
									<li class="grid grid-cols-1 text-sm gap-2">
										<div class="space-y-1">
											<a href={project.url} target="_blank" class="text-white hover:underline flex gap-1"><span>{project.name}</span><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-right-icon lucide-arrow-up-right"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg></a>
											<p class="text-[#939393]">{project.description}</p>
										</div>
									</li>
								))}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</LayoutLight>

<style>
	html {
		scroll-behavior: smooth;
	}
</style>
