---
const title = Astro.props.title.charAt(0).toUpperCase() + Astro.props.title.slice(1);
const description = Astro.props.description || "The personal site of Johan Eriksson";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
import '../styles/global.css';
---
<!doctype html>
<html lang="en">
<head>
	<link rel="sitemap" href="/sitemap-index.xml">
	<title>{title} / jek.sn</title>
	<meta name="description" content={description}>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.png" />
	<link rel="canonical" href={canonicalURL} />

	<!-- Open Graph tags -->
	<meta property="og:title" content={`${title} / jek.sn`} />
	<meta property="og:type" content="website" />
	<meta property="og:url" content={canonicalURL} />
	<meta property="og:description" content={description} />
	<meta property="og:site_name" content="jek.sn" />

	<!-- Twitter card tags -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content={`${title} / jek.sn`} />
	<meta name="twitter:description" content={description} />
</head>
<body>