---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
const { frontmatter } = Astro.props;

---
<!doctype html>
<html lang="en">
	<Head title={frontmatter.title} description={frontmatter.description} />
	<Header />
	<Hero title={frontmatter.title} subtitle={frontmatter.description} />
	<section class="py-12 px-4">
		<div class="mt-6 max-w-screen-md mx-auto">
			<div class="space-y-4 mb-6">
				<h1 class="text-4xl mb-3 hidden">{frontmatter.title}</h1>
				{frontmatter.date ? <span class="text-orange-100/80">{frontmatter.date}</span> : ''}
				<p class="text-orange-100/80">{frontmatter.description}</p>
			</div>
			<div class="markdown">
				<slot />
			</div>
			<div class="mt-16">
				<a href="/blog" class="w-fit px-6 py-3 rounded-full flex items-center justify-center text-sm transition-all duration-150 ease-linear gap-2 bg-white/10 hover:bg-white/20">Go back</a>
			</div>
		</div>
	</section>
	<Footer />
</html>
